{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JC Website</title>

    <link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}">
    <script src="{% static 'myapp/script.js' %}" defer></script>
</head>

<body>
    <!-- <a href="https://www.freepik.com/free-photos-vectors/texture">Texture photo created by rawpixel.com -
        www.freepik.com</a>
        <a href="https://www.freepik.com/free-photos-vectors/background">Background photo created by rawpixel.com - www.freepik.com</a> -->
    <!-- Photo by Willian Justen de Vasconcellos on Unsplash -->
    <!-- Photo by Timothy Tan on Unsplash -->
</body>

</html>