/* SEKCJA Z WYNIKAMI OSTATNIEJ KOLEJKI */

.team {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}

.team:first-child {
    padding-bottom: 5px;
}

.team__img,
.team__name {
    margin-right: 15px;
}

.team__img>img {
    vertical-align: middle;
}

.team__name,
.team__score {
    font-weight: bold;
}

/* SLIDER */

.swiper-container {
    width: 100%;
    padding: 50px 0;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

/* TYTUŁ STRONY */

.content-title {
    font-size: 4rem;
}

/* ARTYKUŁ */

.content-article {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
}

.content-article__header {
    font-size: 3rem;
}

.content-article__round {
    order: -1;
    font-weight: bold;
}

.content-article__round,
.content-article__info,
.content-article__squad {
    font-size: 1.5rem;
}

.content-article__description {
    font-size: 1.75rem;
}

.content-article__info,
.content-article__squad {
    margin-top: 15px;
}

.content-article__description {
    margin-top: 30px;
}

/* ###########################
####### MEDIA QUERIES ########
########################### */

@media screen and (max-width: 1000px) {

    /* SEKCJA Z WYNIKAMI OSTATNIEJ KOLEJKI */
    /* SLIDER */

    .swiper-button-prev,
    .swiper-button-next {
        display: flex;
        color: white;
    }

    .swiper-button-prev:after {
        padding-right: 30px;
    }

    .swiper-button-next:after {
        padding-left: 30px;
    }

    .swiper-button-prev:after,
    .swiper-button-next:after {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 800px) {

    /* TYTUŁ STRONY */

    .content-title {
        font-size: 3.5rem;
    }

    /* ARTYKUŁ */

    .content-article__header {
        font-size: 2.75rem;
    }

    .content-article__description {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 600px) {

    /* TYTUŁ STRONY */

    .content-title {
        font-size: 3rem;
    }

    /* ARTYKUŁ */

    .content-article__header {
        font-size: 2.5rem;
    }

    .content-article__round,
    .content-article__info,
    .content-article__squad {
        font-size: 1.4rem;
    }

    .content-article__description {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 450px) {

    /* ARTYKUŁ */

    .content-article__header {
        font-size: 2.25rem;
    }
}