/* section with last results */

.team {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}

.team:first-child {
    padding-bottom: 5px;
}

.team__name {
    margin-right: 15px;
}

.team__img {
    margin-right: 10px;
}

.team__img>img {
    vertical-align: middle;
}

.team__name,
.team__score {
    font-weight: bold;
}

/* slider */

.swiper-container {
    width: 100%;
    margin-top: 50px;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-button-prev:focus,
.swiper-button-next:focus {
    outline: 0;
    border: 1px solid white;
}

/* headline */

.content-title {
    font-size: 4rem;
    margin-top: 50px;
}

/* article */

.content-article {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
}

.content-article__header {
    font-size: 3rem;
}

.content-article__round {
    order: -1;
    font-weight: bold;
}

.content-article__round,
.content-article__info,
.content-article__squad,
.content-article__cards {
    font-size: 1.5rem;
}

.content-article__description {
    font-size: 1.75rem;
}

.content-article__info,
.content-article__squad,
.content-article__cards {
    margin-top: 15px;
}

.content-article__description {
    margin-top: 30px;
}

/* pagination */

.pagination__items {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.pagination__item--active {
    background-color: rgba(0, 0, 0, .6);
}

.pagination__item--disabled {
    cursor: not-allowed;
}

.pagination__link,
.pagination__span {
    display: block;
    position: relative;
    font-size: 1.4rem;
    line-height: 1.4rem;
    padding: 10px;
}

.pagination__link:focus,
.pagination__span:focus {
    outline: 0;
    background-color: white;
    color: black;
}

/* ###########################
####### MEDIA QUERIES ########
########################### */

@media screen and (max-width: 900px) {

    /* section with last results */
    /* slider */

    .swiper-button-prev,
    .swiper-button-next {
        display: flex;
        color: white;
    }

    .swiper-button-prev {
        left: -7px;
    }

    .swiper-button-next {
        right: -7px;
    }

    .swiper-button-prev:after,
    .swiper-button-next:after {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 800px) {

    /* headline */

    .content-title {
        font-size: 3.5rem;
    }

    /* article */

    .content-article__header {
        font-size: 2.75rem;
    }

    .content-article__description {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 600px) {

    /* headline */

    .content-title {
        font-size: 3rem;
    }

    /* article */

    .content-article__header {
        font-size: 2.5rem;
    }

    .content-article__round,
    .content-article__info,
    .content-article__squad,
    .content-article__cards {
        font-size: 1.4rem;
    }

    .content-article__description {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 450px) {

    /* article */

    .content-article__header {
        font-size: 2.25rem;
    }
}