.content-label {
    display: block;
    font-size: 1.75rem;
    margin: 30px 0;
}

.content-select {
    font-family: var(--mono);
    font-size: 1.75rem;
    background-color: transparent;
    color: white;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 5px;
}

.content-select>option {
    background-color: black;
    color: white;
}

.content-round .match {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.content-round span {
    font-size: 2.5rem;
}

.content-round span:first-of-type {
    margin-right: 10px;
    margin-bottom: 3px;
}

.content-round span:last-of-type {
    margin-left: 10px;
    margin-bottom: 3px;
}

.content-round span:first-of-type>img {
    vertical-align: middle;
}

.content-round span:last-of-type>img {
    vertical-align: middle;
}

.content-round .match__team--short-name {
    display: none;
}

.content-round .match__result {
    background-color: rgba(0, 0, 0, .3);
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    margin: 0 20px;
    border-radius: 5px;
}

@media screen and (max-width: 750px) {
    .content-round span {
        font-size: 2rem;
    }

    .content-round .match__result {
        margin: 0 10px;
    }
}

@media screen and (max-width: 650px) {
    .content-label {
        font-size: 1.5rem;
    }

    .content-select {
        font-size: 1.5rem;
    }

    .content-round .match__team--full-name {
        display: none;
    }

    .content-round .match__team--short-name {
        display: block;
        font-weight: bold;
    }

    .content-round .match__result {
        margin: 0 15px;
    }
}