.content-label {
    display: inline-block;
    font-size: 1.75rem;
    margin: 30px 0;
}

.content-select {
    font-family: var(--mono);
    font-size: 1.75rem;
    background-color: transparent;
    color: white;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.content-select:focus {
    outline: 0;
    background-color: white;
    color: black;
}

.content-select>option {
    background-color: black;
    color: white;
}

.content-round {
    margin-bottom: 50px;
}

.content-round .round-header {
    font-size: 2.5rem;
    text-align: center;
    margin: 25px 0;
}

.content-round .match {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.content-round .host,
.content-round .result,
.content-round .guest {
    display: flex;
    align-items: center;
}

.content-round .host {
    width: 50%;
    justify-content: flex-end;
}

.content-round .result {
    justify-content: center;
}

.content-round .guest {
    width: 50%;
    justify-content: flex-start;
}

.content-round .match span {
    font-size: 2.5rem;
}

.content-round .match .host__img {
    margin-right: 10px;
    margin-bottom: 3px;
}

.content-round .match .guest__img {
    margin-left: 10px;
    margin-bottom: 3px;
}

.content-round .match img {
    vertical-align: middle;
}

.content-round .match .host__short-name,
.content-round .match .guest__short-name {
    display: none;
}

.content-round .match .result__details {
    background-color: rgba(0, 0, 0, .3);
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    margin: 0 20px;
    border-radius: 5px;
}

@media screen and (max-width: 1100px) {
    .content-round .match span {
        font-size: 2.25rem;
    }

    .content-round .match .result__details {
        margin: 0 15px;
    }
}

@media screen and (max-width: 1000px) {
    .content-round .round-header {
        font-size: 2.25rem;
    }

    .content-round .match span {
        font-size: 2rem;
    }

    .content-round .match .result__details {
        margin: 0 10px;
    }
}

@media screen and (max-width: 900px) {
    .content-round .match span {
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 800px) {
    .content-round .round-header {
        font-size: 2rem;
    }

    .content-round .match span {
        font-size: 1.5rem;
    }

    .content-round .match .host__img {
        margin-right: 8px;
    }

    .content-round .match .guest__img {
        margin-left: 8px;
    }
}


@media screen and (max-width: 700px) {
    .content-label {
        font-size: 1.5rem;
    }

    .content-select {
        font-size: 1.5rem;
    }

    .content-round .match span {
        font-size: 1.75rem;
    }

    .content-round .match .host__name,
    .content-round .match .guest__name {
        display: none;
    }

    .content-round .match .host__short-name,
    .content-round .match .guest__short-name {
        display: block;
        font-weight: bold;
    }

    .content-round .match .result__details {
        margin: 0 15px;
    }
}