.content-stats {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 0;
}

.content-stats>table {
    flex-basis: calc(100%/3 - 40px/3);
    background-color: rgba(0, 0, 0, .3);
    font-size: 2rem;
}

.content-stats th,
.content-stats td:not(last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.content-stats th {
    padding: 20px 10px;
}

.content-stats td {
    padding: 10px 0;
}

.content-stats td:first-child {
    text-align: left;
    padding-left: 10px;
}

.content-stats td:nth-child(2) {
    text-align: center;
}

.content-stats tbody tr:last-child td {
    border: none;
}

.content-stats__assists {
    margin: 0 20px
}

.plus {
    width: 12px;
    height: 12px;
    margin-bottom: 2px;
    filter: invert(100%);
}

@media screen and (max-width: 1050px) {
    .content-stats>table {
        flex-basis: calc(100%/2 - 20px/2);
    }

    .content-stats td:first-child {
        padding-left: 20px;
    }

    .content-stats__goals {
        margin-right: 10px;
    }

    .content-stats__assists {
        margin: 0 0 0 10px;
    }

    .content-stats__total {
        margin-top: 20px;
    }
}

@media screen and (max-width: 750px) {
    .content-stats>table {
        flex-basis: 80%;
    }

    .content-stats th:nth-child(2) {
        width: 100px;
    }

    .content-stats td:first-child {
        padding-left: 30px;
    }

    .content-stats__goals {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .content-stats__assists {
        margin: 0 0 20px 0;
    }

    .content-stats__total {
        margin-top: 0;
    }
}

@media screen and (max-width: 600px) {
    .content-stats>table {
        font-size: 1.75rem;
    }

    .content-stats th {
        padding: 15px 10px;
    }
}

@media screen and (max-width: 500px) {
    .content-stats>table {
        flex-basis: 100%;
        font-size: 1.5rem;
    }

    .content-stats th:nth-child(2) {
        width: 83px;
    }

    .content-stats td:first-child {
        padding-left: 15px;
    }
}