/* PODSTAWOWE STYLE */

abbr {
    text-decoration: none;
    cursor: help;
}

/* SKRÓCONA NAZWA (na mobile) */

.club__short {
    display: none;
}

/* STYLE DLA TABELI */

.content-table {
    --win: #44AC45;
    --draw: #FFB22F;
    --loss: #EB3F30;
    --promotion: #1B7700;
    --relegation: #BD0000;
    width: 100%;
    padding: 30px 0;
    font-size: 1.8rem;
}

/* NAGŁÓWEK TABELI */

.content-table th {
    padding: 20px 10px;
}

.content-table .club {
    text-align: left;
}

/* KOMÓRKI TABELI (treść) */

.content-table td {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.content-table td:first-child:not(:last-child) {
    padding-left: 5px;
    /* żeby kolorki dla awansu/spadku nie wychodziły poza krawędź */
}

/* KLASA ACTIVE - tylko dla naszej drużyny */

.active {
    background-color: rgba(0, 0, 0, .6);
}

/* KOLUMNA Z POZYCJĄ */

.promotion,
.relegation {
    display: inline-block;
    padding: 0 10px;
    transform: skewX(-20deg);
}

.promotion {
    background-color: var(--promotion);
}

.relegation {
    background-color: var(--relegation);
}

.promotion>span,
.relegation>span {
    display: inline-block;
    transform: skewX(20deg);
}

/* KOLUMNA Z NAZWĄ DRUŻYNY */

.club {
    text-align: left;
}

.club__name {
    font-weight: bold;
}

.club__img {
    margin-left: 15px;
}

.club__img>img,
.next-match__img>img,
.club__name,
.club__short {
    vertical-align: middle;
}

/* KOLUMNA Z PUNKTAMI */

.points {
    font-weight: bold;
}

/* KOLUMNA Z FORMĄ */

.form>ul>li {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-weight: bold;
    border-radius: 50%;
}

.win {
    background-color: var(--win);
    position: relative;
}

.draw {
    background-color: var(--draw);
    position: relative;
}

.loss {
    background-color: var(--loss);
    position: relative;
}

/* HOVER NA IKONCE Z FORMĄ */

.tooltip {
    display: none;
}

.win:hover .tooltip {
    display: block;
    position: absolute;
    top: -200%;
    left: calc(-125px + 50%);
    width: 250px;
    padding: 10px;
    background-color: black;
    border: 2px solid white;
    border-radius: 10px;
}

.win:hover .tooltip__result {
    background-color: white;
    color: black;
    padding: 3px 5px;
    border-radius: 5px;
}


.win:hover .tooltip__img>img {
    vertical-align: middle;
}

/* STOPKA TABELI */

.content-table .foot {
    padding: 20px 10px;
    text-align: left;
    border-bottom: none;
}

.legend__item {
    display: inline-block;
}

.legend__item:not(:last-of-type) {
    margin-right: 20px;
}

.legend__color {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    vertical-align: middle;
}

.legend__color--promotion {
    background-color: var(--promotion);
}

.legend__color--relegation {
    background-color: var(--relegation);
}

.legend__text {
    vertical-align: middle;
}

@media screen and (max-width: 1000px) {

    /* NIE WYŚWIETLAĆ FORMY I NAST. MECZU */

    .form,
    .next-match {
        display: none;
    }
}

@media screen and (max-width: 700px) {

    /* KOLUMNA Z NAZWĄ DRUŻYNY */

    .club {
        width: 30%;
    }

    .club__name {
        display: none;
    }

    .club__short {
        display: inline;
        font-weight: bold;
    }
}

@media screen and (max-width: 500px) {

    /* NIE WYŚWIETLAĆ BRAMEK I BILANSU */

    .balance,
    .goals {
        display: none;
    }

    /* STOPKA */

    .legend__color {
        height: 25px;
        width: 25px;
    }
}


@media screen and (max-width: 400px) {

    /* STYLE DLA TABELI */

    .content-table {
        font-size: 1.4rem;
    }

    /* KOLUMNA Z POZYCJĄ */

    .promotion,
    .relegation {
        padding: 0 5px;
    }

    /* KOLUMNA Z NAZWĄ DRUŻYNY */

    .club__img {
        margin-left: 10px;
    }

    .club__img>img {
        max-width: 33%;
    }

    /* STOPKA */

    .legend__color {
        height: 20px;
        width: 20px;
        margin-right: 0;
    }
}