abbr {
    text-decoration: none;
    cursor: help;
}

.meta__short {
    display: none;
}

table {
    --win: #44AC45;
    --draw: #FFB22F;
    --loss: #EB3F30;
    --promotion: #1B7700;
    --relegation: #BD0000;
    width: 100%;
    font-size: 2rem;
    padding: 30px 0;
    border-spacing: 0;
}

th {
    padding: 2rem 1rem;
}

.club {
    width: 40%;
    text-align: left;
}

td {
    text-align: center;
    padding: 1rem 0;
    border-bottom: .1rem solid rgba(255, 255, 255, .3);
}

.promotion,
.relegation {
    display: inline-block;
    padding: 0 1rem;
    transform: skewX(-20deg);
}

.promotion {
    background-color: var(--promotion);
}

.relegation {
    background-color: var(--relegation);
}

.promotion>span,
.relegation>span {
    display: inline-block;
    transform: skewX(20deg);
}

.meta {
    text-align: left;
}

.meta__img {
    margin-left: 10px;
}

.meta__img>img,
.next-match__img>img {
    vertical-align: middle;
}