<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jutrzenka Cegłów</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/styles/style.css' %}">
    <script src="{% static 'myapp/scripts/script.js' %}" defer></script>
</head>

<body>
    <video autoplay muted loop>
        <source src="{% static 'myapp/videos/background.mp4' %}" type="video/mp4">
    </video>
    <header class="page-header">
        <a href="" class="page-logo">JC</a>
        <nav class="page-navigation">
            <ul class="page-navigation__items">
                <li class="page-navigation__item"><a href="" class="page-navigation__link">STRONA GŁÓWNA</a></li>
                <li class="page-navigation__item"><a href="" class="page-navigation__link">TABELA</a></li>
                <li class="page-navigation__item"><a href="" class="page-navigation__link">MECZE</a></li>
                <li class="page-navigation__item"><a href="" class="page-navigation__link">STATYSTYKI</a></li>
            </ul>
        </nav>
    </header>
    <main class="page-content">
        <div class="wrapper">
            {% block content %}
            <!-- nazwać sekcję i ogarnąć strukturę -->
            <section>
                <ul>
                    <li>Herb 1 Herb 2 Drużyna 1 Drużyna 2 Gole 1 Gole 2</li>
                    <li>Herb 1 Herb 2 Drużyna 1 Drużyna 2 Gole 1 Gole 2</li>
                    <li>Herb 1 Herb 2 Drużyna 1 Drużyna 2 Gole 1 Gole 2</li>
                    <li>Herb 1 Herb 2 Drużyna 1 Drużyna 2 Gole 1 Gole 2</li>
                    <li>Herb 1 Herb 2 Drużyna 1 Drużyna 2 Gole 1 Gole 2</li>
                    <li>Herb 1 Herb 2 Drużyna 1 Drużyna 2 Gole 1 Gole 2</li>
                </ul>
            </section>
            <h1 class="content-header">AKTUALNOŚCI</h1>
            <article class="content-article">
                <h2 class="content-article__header">Jutrzenka Cegłów - Watra Mrozy 3:0 (2:0)</h2>
                <p class="content-article__info">BRAMKI: Malinowski x3 (asysty Rutkowski, Branicki, Filipiec)</p>
                <p class="content-article__squad">SKŁAD: Zawadka - Sikorski, Lisiecki, Walas, Kowalczyk - Rutkowski,
                    Wąsowski,
                    Piątkowski, Filipiec - Malinowski, Branicki</p class="content-article__header">
                <p class="content-article__description">OPIS: Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Laudantium
                    dignissimos quisquam, et
                    exercitationem
                    velit obcaecati assumenda iusto molestias asperiores explicabo neque, aspernatur nulla quaerat
                    atque,
                    nisi
                    ad aliquid perspiciatis quia! Vitae maiores, aspernatur dolorem ratione quaerat magnam unde
                    provident
                    perspiciatis dolorum, modi accusantium impedit facere facilis maxime reprehenderit sapiente esse,
                    molestias
                    dicta. Omnis, nisi, suscipit veritatis rerum voluptas eius, iste nemo fugiat laboriosam eveniet
                    praesentium
                    perspiciatis sapiente dolorum itaque tenetur debitis nesciunt aperiam consequatur voluptatum
                    deserunt
                    recusandae cupiditate? Quasi eum possimus dolor et nihil ipsum sint deserunt. Voluptatibus
                    repudiandae
                    aliquam, qui dignissimos eum eligendi reiciendis ab corporis, debitis nihil, alias temporibus nulla
                    iure
                    blanditiis dolorum quod consectetur!</p>
            </article>
            {% endblock %}
        </div>
    </main>
    <footer class="page-footer">
        <p>&copy; 2020 Eryk Malinowski</p>
    </footer>
</body>

</html>