<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jutrzenka Cegłów</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/styles/style.css' %}">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <script src="{% static 'myapp/scripts/script.js' %}" defer></script>
</head>

<body>
    <video autoplay muted loop>
        <source src="{% static 'myapp/videos/background.mp4' %}" type="video/mp4">
    </video>
    <header class="page-header">
        <div class="wrapper header-wrapper">
            <a href="{% url 'home' %}" class="page-logo">JC</a>
            <button class="hamburger">
                <span class="hamburger__box">
                    <span class="hamburger__inner"></span>
                </span>
            </button>
            <nav class="page-navigation">
                <ul class="page-navigation__items">
                    <li class="page-navigation__item"><a href="{% url 'home' %}" class="page-navigation__link">STRONA
                            GŁÓWNA</a></li>
                    <li class="page-navigation__item"><a href="" class="page-navigation__link">TABELA</a></li>
                    <li class="page-navigation__item"><a href="" class="page-navigation__link">MECZE</a></li>
                    <li class="page-navigation__item"><a href="" class="page-navigation__link">STATYSTYKI</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="page-content">
        <div class="wrapper content-wrapper">
            {% block content %}
            <section class="content-section">
                <ul class="matches">
                    <li class="matches__item">
                        <div class="team"><img src="{% static 'myapp/images/mini_logo_blekitni_stoczek.png' %}"
                                class="team__img"><span class="team__name">BŁĘ</span><span class="team__score">0</span>
                        </div>
                        <div class="team"><img src="{% static 'myapp/images/mini_logo_grodzisk_krzymosze.png' %}"
                                class="team__img"><span class="team__name">GRO</span><span class="team__score">1</span>
                        </div>
                    </li>
                    <li class="matches__item">
                        <div class="team"><img src="{% static 'myapp/images/mini_logo_jastrzab_zeliszew.png' %}"
                                class="team__img"><span class="team__name">JAS</span><span class="team__score">2</span>
                        </div>
                        <div class="team"><img src="{% static 'myapp/images/mini_logo_jutrzenka_ceglow.png' %}"
                                class="team__img"><span class="team__name">JUT</span><span class="team__score">3</span>
                        </div>
                    </li>
                    <li class="matches__item">
                        <div class="team"><img src="{% static 'myapp/images/mini_logo_kosovia_kosow_lacki.png' %}"
                                class="team__img"><span class="team__name">KOS</span><span class="team__score">1</span>
                        </div>
                        <div class="team"><img src="{% static 'myapp/images/mini_logo_malkinia_gorna.png' %}"
                                class="team__img"><span class="team__name">MAŁ</span><span class="team__score">0</span>
                        </div>
                    </li>
                    <li class="matches__item">
                        <div class="team"><img src="{% static 'myapp/images/mini_logo_miedzanka_miedzna.png' %}"
                                class="team__img"><span class="team__name">MIE</span><span class="team__score">2</span>
                        </div>
                        <div class="team"><img src="{% static 'myapp/images/mini_logo_nojszewianka_dobre.png' %}"
                                class="team__img"><span class="team__name">NOJ</span><span class="team__score">0</span>
                        </div>
                    </li>
                    <li class="matches__item">
                        <div class="team"><img src="{% static 'myapp/images/mini_logo_ostrowek.png' %}"
                                class="team__img"><span class="team__name">OST</span><span class="team__score">3</span>
                        </div>
                        <div class="team"><img src="{% static 'myapp/images/mini_logo_polonez_mordy.png' %}"
                                class="team__img"><span class="team__name">POL</span><span class="team__score">0</span>
                        </div>
                    </li>
                    <li class="matches__item">
                        <div class="team"><img src="{% static 'myapp/images/mini_logo_swit_barczaca.png' %}"
                                class="team__img"><span class="team__name">BAR</span><span class="team__score">0</span>
                        </div>
                        <div class="team"><img src="{% static 'myapp/images/mini_logo_tecza_korczew.png' %}"
                                class="team__img"><span class="team__name">KOR</span><span class="team__score">0</span>
                        </div>
                    </li>
                    <li class="matches__item">
                        <div class="team"><img src="{% static 'myapp/images/mini_logo_tecza_stanislawow.png' %}"
                                class="team__img"><span class="team__name">STA</span><span class="team__score">1</span>
                        </div>
                        <div class="team"><img src="{% static 'myapp/images/mini_logo_tygrys_huta_minska.png' %}"
                                class="team__img"><span class="team__name">TYG</span><span class="team__score">1</span>
                        </div>
                    </li>
                </ul>
            </section>
            <h1 class="content-title">Aktualności</h1>
            <article class="content-article">
                <h2 class="content-article__header">Jutrzenka Cegłów - Watra Mrozy 3:0 (2:0)</h2>
                <p class="content-article__round">1. kolejka</p>
                <p class="content-article__info">BRAMKI: Malinowski x3 (asysty Rutkowski, Branicki, Filipiec)</p>
                <p class="content-article__squad">SKŁAD: Zawadka - Sikorski, Lisiecki, Walas, Kowalczyk - Rutkowski,
                    Wąsowski,
                    Piątkowski, Filipiec - Malinowski, Branicki</p>
                <p class="content-article__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Laudantium
                    dignissimos quisquam, et
                    exercitationem
                    velit obcaecati assumenda iusto molestias asperiores explicabo neque, aspernatur nulla quaerat
                    atque,
                    nisi
                    ad aliquid perspiciatis quia! Vitae maiores, aspernatur dolorem ratione quaerat magnam unde
                    provident
                    perspiciatis dolorum, modi accusantium impedit facere facilis maxime reprehenderit sapiente esse,
                    molestias
                    dicta. Omnis, nisi, suscipit veritatis rerum voluptas eius, iste nemo fugiat laboriosam eveniet
                    praesentium
                    perspiciatis sapiente dolorum itaque tenetur debitis nesciunt aperiam consequatur voluptatum
                    deserunt
                    recusandae cupiditate? Quasi eum possimus dolor et nihil ipsum sint deserunt. Voluptatibus
                    repudiandae
                    aliquam, qui dignissimos eum eligendi reiciendis ab corporis, debitis nihil, alias temporibus nulla
                    iure
                    blanditiis dolorum quod consectetur!</p>
            </article>
            {% endblock %}
        </div>
    </main>
    <footer class="page-footer">
        <div class="wrapper footer-wrapper">
            <p class="footer-copy">&copy; 2020 Eryk Malinowski. Wszelkie prawa zastrzeżone.</p>
            <span><a href="https://fb.me/JutrzenkaCeglow"><i class="fab fa-facebook-square"></i></a></span>
        </div>
    </footer>
</body>

</html>