<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <title>Jutrzenka Cegłów</title>
    {% load static %}
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/styles/style.css' %}">

    <script src="https://unpkg.com/swiper/js/swiper.js"></script>
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
    <script src="{% static 'myapp/scripts/script.js' %}" defer></script>
</head>

<body>
    <video autoplay muted loop>
        <source src="{% static 'myapp/videos/background.mp4' %}" type="video/mp4">
    </video>
    <header class="page-header">
        <div class="wrapper header-wrapper">
            <a href="{% url 'home' %}" class="page-logo" aria-label="Przejdź do strony głównej">JC</a>
            <button class="hamburger" aria-label="Otwórz menu mobilne">
                <span class="hamburger__box" aria-hidden="true">
                    <span class="hamburger__inner"></span>
                </span>
            </button>
            <nav class="page-navigation">
                <ul class="page-navigation__items">
                    <li class="page-navigation__item"><a href="{% url 'home' %}" class="page-navigation__link"
                            aria-label="Przejdź do strony głównej">STRONA
                            GŁÓWNA</a></li>
                    <li class="page-navigation__item"><a href="{% url 'table' %}" class="page-navigation__link"
                            aria-label="Przejdź do tabeli rozgrywek">TABELA</a></li>
                    <li class="page-navigation__item"><a href="{% url 'matches' %}" class="page-navigation__link"
                            aria-label="Przejdź do terminarza rozgrywek">MECZE</a></li>
                    <li class="page-navigation__item"><a href="{% url 'stats' %}" class="page-navigation__link"
                            aria-label="Przejdź do statystyk indywidualnych">STATYSTYKI</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="page-content">
        <div class="wrapper content-wrapper">
            {% block content %}
            <section class="swiper-container">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide">
                        <div class="team">
                            <span class="team__img"><img src="{% static 'myapp/images/jutrzenka.png' %}"></span>
                            <span class="team__name">JUT</span>
                            <span class="team__score">0</span>
                        </div>
                        <div class="team">
                            <span class="team__img"><img src="{% static 'myapp/images/jutrzenka.png' %}"></span>
                            <span class="team__name">JUT</span>
                            <span class="team__score">1</span>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="team">
                            <span class="team__img"><img src="{% static 'myapp/images/amazonka.png' %}"></span>
                            <span class="team__name">AMA</span>
                            <span class="team__score">2</span>
                        </div>
                        <div class="team">
                            <span class="team__img"><img src="{% static 'myapp/images/blekitni.png' %}"></span>
                            <span class="team__name">BŁĘ</span>
                            <span class="team__score">3</span>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="team">
                            <span class="team__img"><img src="{% static 'myapp/images/golabek.png' %}"></span>
                            <span class="team__name">GOŁ</span>
                            <span class="team__score">1</span>
                        </div>
                        <div class="team">
                            <span class="team__img"><img src="{% static 'myapp/images/grodzisk.png' %}"></span>
                            <span class="team__name">GRO</span>
                            <span class="team__score">0</span>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="team">
                            <span class="team__img"><img src="{% static 'myapp/images/korona.png' %}"></span>
                            <span class="team__name">KOR</span>
                            <span class="team__score">2</span>
                        </div>
                        <div class="team">
                            <span class="team__img"><img src="{% static 'myapp/images/niwa.png' %}"></span>
                            <span class="team__name">NIW</span>
                            <span class="team__score">0</span>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="team">
                            <span class="team__img"><img src="{% static 'myapp/images/nojszewianka.png' %}"></span>
                            <span class="team__name">NOJ</span>
                            <span class="team__score">3</span>
                        </div>
                        <div class="team">
                            <span class="team__img"><img src="{% static 'myapp/images/plomien.png' %}"></span>
                            <span class="team__name">PŁO</span>
                            <span class="team__score">0</span>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="team">
                            <span class="team__img"><img src="{% static 'myapp/images/podlasie.png' %}"></span>
                            <span class="team__name">POD</span>
                            <span class="team__score">0</span>
                        </div>
                        <div class="team">
                            <span class="team__img"><img src="{% static 'myapp/images/promnik.png' %}"></span>
                            <span class="team__name">PRO</span>
                            <span class="team__score">0</span>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="team">
                            <span class="team__img"><img src="{% static 'myapp/images/swit.png' %}"></span>
                            <span class="team__name">ŚWI</span>
                            <span class="team__score">1</span>
                        </div>
                        <div class="team">
                            <span class="team__img"><img src="{% static 'myapp/images/verifis.png' %}"></span>
                            <span class="team__name">VER</span>
                            <span class="team__score">1</span>
                        </div>
                    </li>
                </ul>
                <!-- Swiper Navigation -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </section>

            <h1 class="content-title">Aktualności</h1>

            {% for article in articles %}
            <article class="content-article">
                <h2 class="content-article__header">{{article.title}}</h2>
                <p class="content-article__round">{{article.round}}</p>
                {% if article.goals %}
                <p class="content-article__info">BRAMKI:<br>{{article.goals}}</p>
                {% endif %}
                <p class="content-article__squad">SKŁAD:<br>{{article.squad}}</p>
                {% if article.cards %}
                <p class="content-article__cards">KARTKI:<br>{{article.cards}}</p>
                {% endif %}
                <p class="content-article__description">{{article.description}}</p>
            </article>
            {% endfor %}

            {% if is_paginated %}
            {% if page_obj.has_previous %}
            <a href="?page=1">Pierwsza</a>
            <a href="?page={{ page_obj.previous_page_number }}">Poprzednia</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
            <a href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Następna</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Ostatnia</a>
            {% endif %}
            {% endif %}

            {% endblock %}
        </div>
    </main>
    <footer class="page-footer">
        <div class="wrapper footer-wrapper">
            <p class="footer-copy">&copy; 2020 Eryk Malinowski. Wszelkie&nbsp;prawa&nbsp;zastrzeżone.</p>
            <a href="https://fb.me/JutrzenkaCeglow" class="footer-link">
                <img src="{% static 'myapp/images/logo_fb.svg' %}" class="footer-img" alt="">
                <!-- Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> -->
            </a>
        </div>
    </footer>
</body>

</html>