{% extends './index.html' %}
{% load static %}
{% block content %}
<h1 class="content-title">Terminarz rozgrywek</h1>

<label class="round-label">Numer kolejki:
    <!-- input z przykładowym numerem kolejki -->
    <input type="hidden" name="active-round" value="3">
    <select class="round-select" name="round">
        <option value="">wybierz</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
</label>

<!-- generowac sekcję na podstawie numeru kolejki -->
<section class="round-content">
    <ul>
        <li>
            <img src="{% static 'myapp/images/mini_logo_jutrzenka_ceglow.png' %}">
            <span>Jutrzenka Cegłów</span>
            <span>JUT</span>
            <span>0:0 </span>
            <span>BŁĘ</span>
            <span>Błękitni Stoczek</span>
            <img src="{% static 'myapp/images/mini_logo_blekitni_stoczek.png' %}">
        </li>
    </ul>
</section>
{% endblock %}