{% extends './index.html' %}
{% load static %}
{% block content %}
<h1 class="content-title">Terminarz rozgrywek</h1>

{% if is_paginated %}
<label class="content-label">Numer kolejki:
    <select class="content-select" name="round">
        <option value="">wybierz</option>
        {% for round in rounds %}
        <option value="?page={{round.number}}">{{round.number}}</option>
        {% endfor %}
    </select>
</label>
{% endif %}

<section class="content-round">
    {% regroup matches by round as rounds %}
    {% for round in rounds %}
    <h2 class="round-header">{{round.grouper}}</h2>
    <ul class="matches">
        {% for match in round.list %}
        <li class="match">
            <span><img src="{{ match.team_home.img.url }}"></span>
            <span class="match__team match__team--full-name">{{match.team_home.name}}</span>
            <span class="match__team match__team--short-name">{{match.team_home.short_name}}</span>
            <span class="match__result">{{match.score_home}}:{{match.score_away}}</span>
            <span class="match__team match__team--short-name">{{match.team_away.short_name}}</span>
            <span class="match__team match__team--full-name">{{match.team_away.name}}</span>
            <span><img src="{{ match.team_away.img.url }}"></span>
        </li>
        {%endfor%}
    </ul>
    {%endfor%}
</section>
{% endblock %}