{% extends './index.html' %}
{% load static %}
{% block content %}
<h1 class="content-title">Statystyki</h1>

<section class="stats-content">
    <table class="goals-table">
        <thead>
            <tr>
                <th>STRZELEC</th>
                <th><img src="{% static 'myapp/images/goal.png' %}"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Eryk Malinowski</td>
                <td>15</td>
            </tr>
            <tr>
                <td>Michał Rutkowski</td>
                <td>15</td>
            </tr>
            <tr>
                <td>Dominik Jarzębski</td>
                <td>15</td>
            </tr>
            <tr>
                <td>Mariusz Rutkowski</td>
                <td>15</td>
            </tr>
            <tr>
                <td>Krzysztof Wąsowski</td>
                <td>15</td>
            </tr>
        </tbody>
    </table>

    <table class="assists-table">
        <thead>
            <tr>
                <th>ASYSTENT</th>
                <th><img src="{% static 'myapp/images/assist.png' %}"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Eryk Malinowski</td>
                <td>15</td>
            </tr>
            <tr>
                <td>Eryk Malinowski</td>
                <td>15</td>
            </tr>
            <tr>
                <td>Eryk Malinowski</td>
                <td>15</td>
            </tr>
            <tr>
                <td>Eryk Malinowski</td>
                <td>15</td>
            </tr>
            <tr>
                <td>Eryk Malinowski</td>
                <td>15</td>
            </tr>
        </tbody>
    </table>

    <table class="goals-assists">
        <thead>
            <tr>
                <th>KANADYJCZYK</th>
                <th>
                    <img src="{% static 'myapp/images/goal.png' %}">
                    <img src="{% static 'myapp/images/plus.png' %}" class="plus">
                    <img src="{% static 'myapp/images/assist.png' %}">
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Eryk Malinowski</td>
                <td>30</td>
            </tr>
            <tr>
                <td>Eryk Malinowski</td>
                <td>30</td>
            </tr>
            <tr>
                <td>Eryk Malinowski</td>
                <td>30</td>
            </tr>
            <tr>
                <td>Krzysztof Wąsowski</td>
                <td>30</td>
            </tr>
            <tr>
                <td>Eryk Malinowski</td>
                <td>30</td>
            </tr>
        </tbody>
    </table>
</section>

{% endblock %}