{% extends './index.html' %}
{% load static %}
{% block content %}
<h1 class="content-title">Statystyki</h1>

<section class="content-stats">
    <table class="content-stats__goals">
        <thead>
            <tr>
                <th>STRZELEC</th>
                <th><span><img src="{% static 'myapp/images/goal.png' %}"></span></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Eryk Malinowski</td>
                <td>15</td>
            </tr>
            <tr>
                <td>Michał Rutkowski</td>
                <td>15</td>
            </tr>
            <tr>
                <td>Dominik Jarzębski</td>
                <td>15</td>
            </tr>
            <tr>
                <td>Mariusz Rutkowski</td>
                <td>15</td>
            </tr>
            <tr>
                <td>Krzysztof Wąsowski</td>
                <td>15</td>
            </tr>
        </tbody>
    </table>

    <table class="content-stats__assists">
        <thead>
            <tr>
                <th>ASYSTENT</th>
                <th><span><img src="{% static 'myapp/images/assist.png' %}"></span></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Eryk Malinowski</td>
                <td>15</td>
            </tr>
            <tr>
                <td>Eryk Malinowski</td>
                <td>15</td>
            </tr>
            <tr>
                <td>Eryk Malinowski</td>
                <td>15</td>
            </tr>
            <tr>
                <td>Eryk Malinowski</td>
                <td>15</td>
            </tr>
            <tr>
                <td>Eryk Malinowski</td>
                <td>15</td>
            </tr>
        </tbody>
    </table>

    <table class="content-stats__total">
        <thead>
            <tr>
                <th>KANADYJCZYK</th>
                <th>
                    <span><img src="{% static 'myapp/images/goal.png' %}"></span>
                    <span><img src="{% static 'myapp/images/plus.png' %}" class="plus"></span>
                    <span><img src="{% static 'myapp/images/assist.png' %}"></span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Eryk Malinowski</td>
                <td>30</td>
            </tr>
            <tr>
                <td>Eryk Malinowski</td>
                <td>30</td>
            </tr>
            <tr>
                <td>Eryk Malinowski</td>
                <td>30</td>
            </tr>
            <tr>
                <td>Krzysztof Wąsowski</td>
                <td>30</td>
            </tr>
            <tr>
                <td>Eryk Malinowski</td>
                <td>30</td>
            </tr>
        </tbody>
    </table>
</section>

{% endblock %}