{% extends './index.html' %}
{% load static %}
{% block content %}
<h1 class="content-title">Tabela rozgrywek</h1>
<table class="content-table">
    <thead>
        <tr>
            <th><abbr title="Pozycja">#</abbr></th>
            <th class="club">Klub</th>
            <th><abbr title="Mecze">M</abbr></th>
            <th><abbr title="Zwycięstwa">Z</abbr></th>
            <th><abbr title="Remisy">R</abbr></th>
            <th><abbr title="Porażki">P</abbr></th>
            <th class="goals"><abbr title="Bramki">Br</abbr></th>
            <th class="balance"><abbr title="Bilans">+/-</abbr></th>
            <th class="points"><abbr title="Punkty">Pkt</abbr></th>
            <th class="form">Forma</th>
            <th class="next-match"><abbr title="Następny mecz">Nast. mecz</abbr></th>
        </tr class="content-table">
    </thead class="content-table">
    <tbody>
        {% for team in teams %}

        {% if team.team.name == "Jutrzenka Cegłów" %}
        <tr class="active">
            {% else %}
        <tr>
            {% endif %}

            <td>
                {% if forloop.counter == 1 or forloop.counter == 2 or forloop.counter == 3 %}
                <span class="promotion">
                    {% else %}
                    {% if forloop.counter == 11 or forloop.counter == 12 or forloop.counter == 13 %}
                    <span class="relegation">
                        {% else %}
                        <span>
                            {% endif %}
                            {% endif %}
                            <span>{{forloop.counter}}</span>
                        </span>
            </td>
            <td class="club">
                <span class="club__img"><img src="{{ team.team.img.url }}"></span>
                <span class="club__name">{{ team.team.name }}</span>
                <span class="club__short">{{ team.team.short_name }}</span>
            </td>
            <td>{{ team.matches }}</td>
            <td>{{ team.wins }}</td>
            <td>{{ team.draws }}</td>
            <td>{{ team.losses }}</td>
            <td class="goals">{{ team.goals_for }}:{{ team.goals_against }}</td>
            <td class="balance">{{ team.balance }}</td>
            <td class="points">{{ team.points }}</td>
            <td class="form">
                <ul>
                    <li class="win">
                        <div class="tooltip">
                            <span class="tooltip__img"><img src="{{ team.team.img.url }}"></span>
                            <span class="tooltip__name">JUT</span>
                            <span class="tooltip__result">1:0</span>
                            <span class="tooltip__name">JUT</span>
                            <span class="tooltip__img"><img src="{{ team.team.img.url }}"></span>
                        </div>
                        <abbr title="Zwycięstwo">Z</abbr>
                    </li>
                    <li class="draw"><abbr title="Remis">R</abbr></li>
                    <li class="loss"><abbr title="Porażka">P</abbr></li>
                    <li class="win"><abbr title="Zwycięstwo">Z</abbr></li>
                    <li class="win"><abbr title="Zwycięstwo">Z</abbr></li>
                </ul>
            </td>
            <td class="next-match">
                <span class="next-match__img"><img src="{{ team.team.img.url }}"></span>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td class="foot" colspan="99">
                <ul class="legend__items">
                    <li class="legend__item">
                        <span class="legend__color legend__color--promotion"></span>
                        <span class="legend__text">Awans</span>
                    </li>
                    <li class="legend__item">
                        <span class="legend__color legend__color--relegation"></span>
                        <span class="legend__text">Spadek</span>
                    </li>
                </ul>
            </td>
        </tr>
    </tfoot>
</table>
{% endblock %}