{% extends './index.html' %}
{% load static %}
{% block content %}
<h1 class="content-title">Tabela rozgrywek</h1>
<table class="content-table">
    <thead>
        <tr>
            <th><abbr title="Pozycja">#</abbr></th>
            <th class="club">Klub</th>
            <th><abbr title="Mecze">M</abbr></th>
            <th><abbr title="Zwycięstwa">Z</abbr></th>
            <th><abbr title="Remisy">R</abbr></th>
            <th><abbr title="Porażki">P</abbr></th>
            <th class="goals"><abbr title="Bramki">Br</abbr></th>
            <th class="balance"><abbr title="Bilans">+/-</abbr></th>
            <th class="points"><abbr title="Punkty">Pkt</abbr></th>
            <th class="form">Forma</th>
            <th class="next-match"><abbr title="Następny mecz">Nast. mecz</abbr></th>
        </tr class="content-table">
    </thead class="content-table">
    <tbody>
        <tr class="active">
            <td><span class="promotion"><span>1</span></span></td>
            <td class="meta">
                <span class="meta__img"><img src="{% static 'myapp/images/mini_logo_jutrzenka_ceglow.png' %}"></span>
                <span class="meta__name">Jutrzenka Cegłów</span>
                <span class="meta__short">JUT</span>
            </td>
            <td>26</td>
            <td>20</td>
            <td>4</td>
            <td>2</td>
            <td class="goals">75:25</td>
            <td class="balance">50</td>
            <td class="points">64</td>
            <td class="form">
                <ul>
                    <li class="win"><abbr title="Zwycięstwo">Z</abbr></li>
                    <li class="draw"><abbr title="Remis">R</abbr></li>
                    <li class="loss"><abbr title="Porażka">P</abbr></li>
                    <li class="win"><abbr title="Zwycięstwo">Z</abbr></li>
                    <li class="win"><abbr title="Zwycięstwo">Z</abbr></li>
                </ul>
            </td>
            <td class="next-match">
                <span class="next-match__img"><img
                        src="{% static 'myapp/images/mini_logo_jutrzenka_ceglow.png' %}"></span>
            </td>
        </tr>
        <tr>
            <td><span class="promotion"><span>2</span></span></td>
            <td class="meta">
                <span class="meta__img"><img src="{% static 'myapp/images/mini_logo_blekitni_stoczek.png' %}"></span>
                <span class="meta__name">Błękitni Stoczek</span>
                <span class="meta__short">BŁĘ</span>
            </td>
            <td>26</td>
            <td>20</td>
            <td>4</td>
            <td>2</td>
            <td class="goals">75:25</td>
            <td class="balance">50</td>
            <td class="points">64</td>
            <td class="form">
                <ul>
                    <li class="win"><abbr title="Zwycięstwo">Z</abbr></li>
                    <li class="draw"><abbr title="Remis">R</abbr></li>
                    <li class="loss"><abbr title="Porażka">P</abbr></li>
                    <li class="win"><abbr title="Zwycięstwo">Z</abbr></li>
                    <li class="win"><abbr title="Zwycięstwo">Z</abbr></li>
                </ul>
            </td>
            <td class="next-match">
                <span class="next-match__img"><img
                        src="{% static 'myapp/images/mini_logo_jutrzenka_ceglow.png' %}"></span>
            </td>
        </tr>
        <tr>
            <td><span class="promotion"><span>3</span></span></td>
            <td class="meta">
                <span class="meta__img"><img src="{% static 'myapp/images/mini_logo_grodzisk_krzymosze.png' %}"></span>
                <span class="meta__name">Grodzisk Krzymosze</span>
                <span class="meta__short">GRO</span>
            </td>
            <td>26</td>
            <td>20</td>
            <td>4</td>
            <td>2</td>
            <td class="goals">75:25</td>
            <td class="balance">50</td>
            <td class="points">64</td>
            <td class="form">
                <ul>
                    <li class="win"><abbr title="Zwycięstwo">Z</abbr></li>
                    <li class="draw"><abbr title="Remis">R</abbr></li>
                    <li class="loss"><abbr title="Porażka">P</abbr></li>
                    <li class="win"><abbr title="Zwycięstwo">Z</abbr></li>
                    <li class="win"><abbr title="Zwycięstwo">Z</abbr></li>
                </ul>
            </td>
            <td class="next-match">
                <span class="next-match__img"><img
                        src="{% static 'myapp/images/mini_logo_jutrzenka_ceglow.png' %}"></span>
            </td>
        </tr>
        <tr>
            <td>4</td>
            <td class="meta">
                <span class="meta__img"><img src="{% static 'myapp/images/mini_logo_kosovia_kosow_lacki.png' %}"></span>
                <span class="meta__name">Kosovia Kosów Lacki</span>
                <span class="meta__short">KOS</span>
            </td>
            <td>26</td>
            <td>20</td>
            <td>4</td>
            <td>2</td>
            <td class="goals">75:25</td>
            <td class="balance">50</td>
            <td class="points">64</td>
            <td class="form">
                <ul>
                    <li class="win"><abbr title="Zwycięstwo">Z</abbr></li>
                    <li class="draw"><abbr title="Remis">R</abbr></li>
                    <li class="loss"><abbr title="Porażka">P</abbr></li>
                    <li class="win"><abbr title="Zwycięstwo">Z</abbr></li>
                    <li class="win"><abbr title="Zwycięstwo">Z</abbr></li>
                </ul>
            </td>
            <td class="next-match">
                <span class="next-match__img"><img
                        src="{% static 'myapp/images/mini_logo_jutrzenka_ceglow.png' %}"></span>
            </td>
        </tr>
        <tr>
            <td>5</td>
            <td class="meta">
                <span class="meta__img"><img src="{% static 'myapp/images/mini_logo_jastrzab_zeliszew.png' %}"></span>
                <span class="meta__name">Jastrząb Żeliszew</span>
                <span class="meta__short">JAS</span>
            </td>
            <td>26</td>
            <td>20</td>
            <td>4</td>
            <td>2</td>
            <td class="goals">75:25</td>
            <td class="balance">50</td>
            <td class="points">64</td>
            <td class="form">
                <ul>
                    <li class="win"><abbr title="Zwycięstwo">Z</abbr></li>
                    <li class="draw"><abbr title="Remis">R</abbr></li>
                    <li class="loss"><abbr title="Porażka">P</abbr></li>
                    <li class="win"><abbr title="Zwycięstwo">Z</abbr></li>
                    <li class="win"><abbr title="Zwycięstwo">Z</abbr></li>
                </ul>
            </td>
            <td class="next-match">
                <span class="next-match__img"><img
                        src="{% static 'myapp/images/mini_logo_jutrzenka_ceglow.png' %}"></span>
            </td>
        </tr>
        <tr>
            <td>6</td>
            <td class="meta">
                <span class="meta__img"><img src="{% static 'myapp/images/mini_logo_malkinia_gorna.png' %}"></span>
                <span class="meta__name">MKS Małkinia Górna</span>
                <span class="meta__short">MAŁ</span>
            </td>
            <td>26</td>
            <td>20</td>
            <td>4</td>
            <td>2</td>
            <td class="goals">75:25</td>
            <td class="balance">50</td>
            <td class="points">64</td>
            <td class="form">
                <ul>
                    <li class="win"><abbr title="Zwycięstwo">Z</abbr></li>
                    <li class="draw"><abbr title="Remis">R</abbr></li>
                    <li class="loss"><abbr title="Porażka">P</abbr></li>
                    <li class="win"><abbr title="Zwycięstwo">Z</abbr></li>
                    <li class="win"><abbr title="Zwycięstwo">Z</abbr></li>
                </ul>
            </td>
            <td class="next-match">
                <span class="next-match__img"><img
                        src="{% static 'myapp/images/mini_logo_jutrzenka_ceglow.png' %}"></span>
            </td>
        </tr>
        <tr>
            <td>7</td>
            <td class="meta">
                <span class="meta__img"><img src="{% static 'myapp/images/mini_logo_miedzanka_miedzna.png' %}"></span>
                <span class="meta__name">Miedzanka Miedzna</span>
                <span class="meta__short">MIE</span>
            </td>
            <td>26</td>
            <td>20</td>
            <td>4</td>
            <td>2</td>
            <td class="goals">7:25</td>
            <td class="balance">50</td>
            <td class="points">64</td>
            <td class="form">
                <ul>
                    <li class="win"><abbr title="Zwycięstwo">Z</abbr></li>
                    <li class="draw"><abbr title="Remis">R</abbr></li>
                    <li class="loss"><abbr title="Porażka">P</abbr></li>
                    <li class="win"><abbr title="Zwycięstwo">Z</abbr></li>
                    <li class="win"><abbr title="Zwycięstwo">Z</abbr></li>
                </ul>
            </td>
            <td class="next-match">
                <span class="next-match__img"><img
                        src="{% static 'myapp/images/mini_logo_jutrzenka_ceglow.png' %}"></span>
            </td>
        </tr>
        <tr>
            <td>8</td>
            <td class="meta">
                <span class="meta__img"><img src="{% static 'myapp/images/mini_logo_nojszewianka_dobre.png' %}"></span>
                <span class="meta__name">Nojszewianka Dobre</span>
                <span class="meta__short">NOJ</span>
            </td>
            <td>26</td>
            <td>20</td>
            <td>4</td>
            <td>2</td>
            <td class="goals">75:25</td>
            <td class="balance">50</td>
            <td class="points">64</td>
            <td class="form">
                <ul>
                    <li class="win"><abbr title="Zwycięstwo">Z</abbr></li>
                    <li class="draw"><abbr title="Remis">R</abbr></li>
                    <li class="loss"><abbr title="Porażka">P</abbr></li>
                    <li class="win"><abbr title="Zwycięstwo">Z</abbr></li>
                    <li class="win"><abbr title="Zwycięstwo">Z</abbr></li>
                </ul>
            </td>
            <td class="next-match">
                <span class="next-match__img"><img
                        src="{% static 'myapp/images/mini_logo_jutrzenka_ceglow.png' %}"></span>
            </td>
        </tr>
        <tr>
            <td>9</td>
            <td class="meta">
                <span class="meta__img"><img src="{% static 'myapp/images/mini_logo_ostrowek.png' %}"></span>
                <span class="meta__name">LKS Ostrówek</span>
                <span class="meta__short">OST</span>
            </td>
            <td>26</td>
            <td>10</td>
            <td>10</td>
            <td>2</td>
            <td class="goals">15:8</td>
            <td class="balance">5</td>
            <td class="points">64</td>
            <td class="form">
                <ul>
                    <li class="win"><abbr title="Zwycięstwo">Z</abbr></li>
                    <li class="draw"><abbr title="Remis">R</abbr></li>
                    <li class="loss"><abbr title="Porażka">P</abbr></li>
                    <li class="win"><abbr title="Zwycięstwo">Z</abbr></li>
                    <li class="win"><abbr title="Zwycięstwo">Z</abbr></li>
                </ul>
            </td>
            <td class="next-match">
                <span class="next-match__img"><img
                        src="{% static 'myapp/images/mini_logo_jutrzenka_ceglow.png' %}"></span>
            </td>
        </tr>
        <tr>
            <td>10</td>
            <td class="meta">
                <span class="meta__img"><img src="{% static 'myapp/images/mini_logo_polonez_mordy.png' %}"></span>
                <span class="meta__name">Polonez Mordy</span>
                <span class="meta__short">POL</span>
            </td>
            <td>8</td>
            <td>2</td>
            <td>4</td>
            <td>2</td>
            <td class="goals">5:4</td>
            <td class="balance">8</td>
            <td class="points">64</td>
            <td class="form">
                <ul>
                    <li class="win"><abbr title="Zwycięstwo">Z</abbr></li>
                    <li class="draw"><abbr title="Remis">R</abbr></li>
                    <li class="loss"><abbr title="Porażka">P</abbr></li>
                    <li class="win"><abbr title="Zwycięstwo">Z</abbr></li>
                    <li class="win"><abbr title="Zwycięstwo">Z</abbr></li>
                </ul>
            </td>
            <td class="next-match">
                <span class="next-match__img"><img
                        src="{% static 'myapp/images/mini_logo_jutrzenka_ceglow.png' %}"></span>
            </td>
        </tr>
        <tr>
            <td>11</td>
            <td class="meta">
                <span class="meta__img"><img src="{% static 'myapp/images/mini_logo_swit_barczaca.png' %}"></span>
                <span class="meta__name">Świt Barcząca</span>
                <span class="meta__short">BAR</span>
            </td>
            <td>26</td>
            <td>20</td>
            <td>4</td>
            <td>2</td>
            <td class="goals">75:25</td>
            <td class="balance">50</td>
            <td class="points">64</td>
            <td class="form">
                <ul>
                    <li class="win"><abbr title="Zwycięstwo">Z</abbr></li>
                    <li class="draw"><abbr title="Remis">R</abbr></li>
                    <li class="loss"><abbr title="Porażka">P</abbr></li>
                    <li class="win"><abbr title="Zwycięstwo">Z</abbr></li>
                    <li class="win"><abbr title="Zwycięstwo">Z</abbr></li>
                </ul>
            </td>
            <td class="next-match">
                <span class="next-match__img"><img
                        src="{% static 'myapp/images/mini_logo_jutrzenka_ceglow.png' %}"></span>
            </td>
        </tr>
        <tr>
            <td><span class="relegation"><span>12</span></span></td>
            <td class="meta">
                <span class="meta__img"><img src="{% static 'myapp/images/mini_logo_tecza_korczew.png' %}"></span>
                <span class="meta__name">Tęcza Korczew</span>
                <span class="meta__short">KOR</span>
            </td>
            <td>26</td>
            <td>20</td>
            <td>4</td>
            <td>2</td>
            <td class="goals">75:25</td>
            <td class="balance">50</td>
            <td class="points">64</td>
            <td class="form">
                <ul>
                    <li class="win"><abbr title="Zwycięstwo">Z</abbr></li>
                    <li class="draw"><abbr title="Remis">R</abbr></li>
                    <li class="loss"><abbr title="Porażka">P</abbr></li>
                    <li class="win"><abbr title="Zwycięstwo">Z</abbr></li>
                    <li class="win"><abbr title="Zwycięstwo">Z</abbr></li>
                </ul>
            </td>
            <td class="next-match">
                <span class="next-match__img"><img
                        src="{% static 'myapp/images/mini_logo_jutrzenka_ceglow.png' %}"></span>
            </td>
        </tr>
        <tr>
            <td><span class="relegation"><span>13</span></span></td>
            <td class="meta">
                <span class="meta__img"><img src="{% static 'myapp/images/mini_logo_tecza_stanislawow.png' %}"></span>
                <span class="meta__name">Tęcza Stanisławów</span>
                <span class="meta__short">STA</span>
            </td>
            <td>26</td>
            <td>9</td>
            <td>4</td>
            <td>13</td>
            <td class="goals">75:125</td>
            <td class="balance">-50</td>
            <td class="points">9</td>
            <td class="form">
                <ul>
                    <li class="win"><abbr title="Zwycięstwo">Z</abbr></li>
                    <li class="draw"><abbr title="Remis">R</abbr></li>
                    <li class="loss"><abbr title="Porażka">P</abbr></li>
                    <li class="win"><abbr title="Zwycięstwo">Z</abbr></li>
                    <li class="win"><abbr title="Zwycięstwo">Z</abbr></li>
                </ul>
            </td>
            <td class="next-match">
                <span class="next-match__img"><img
                        src="{% static 'myapp/images/mini_logo_jutrzenka_ceglow.png' %}"></span>
            </td>
        </tr>
        <tr>
            <td><span class="relegation"><span>14</span></span></td>
            <td class="meta">
                <span class="meta__img"><img src="{% static 'myapp/images/mini_logo_tygrys_huta_minska.png' %}"></span>
                <span class="meta__name">Tygrys Huta Mińska</span>
                <span class="meta__short">TYG</span>
            </td>
            <td>26</td>
            <td>20</td>
            <td>4</td>
            <td>2</td>
            <td class="goals">75:25</td>
            <td class="balance">50</td>
            <td class="points">64</td>
            <td class="form">
                <ul>
                    <li class="win"><abbr title="Zwycięstwo">Z</abbr></li>
                    <li class="draw"><abbr title="Remis">R</abbr></li>
                    <li class="loss"><abbr title="Porażka">P</abbr></li>
                    <li class="win"><abbr title="Zwycięstwo">Z</abbr></li>
                    <li class="win"><abbr title="Zwycięstwo">Z</abbr></li>
                </ul>
            </td>
            <td class="next-match">
                <span class="next-match__img"><img
                        src="{% static 'myapp/images/mini_logo_jutrzenka_ceglow.png' %}"></span>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td class="foot" colspan="99">
                <ul class="legend">
                    <li class="legend__item">
                        <span class="color color--promotion"></span>
                        <span class="text">Awans</span>
                    </li>
                    <li class="legend__item">
                        <span class="color color--relegation"></span>
                        <span class="text">Spadek</span>
                    </li>
                </ul>
            </td>
        </tr>
    </tfoot>
</table>
{% endblock %}